Repository hashicorp/learn-consul-kubernetes, pull requests merged in 2022-04, with the labels that each got.

#54 Scenario HCP Vault + EKS
  .gitignore
  hcp-vault-eks/.gitignore
  hcp-vault-eks/README.md
  hcp-vault-eks/data.tf
  hcp-vault-eks/hashicups/crd-intentions.yaml
  hcp-vault-eks/hashicups/frontend.yaml
  hcp-vault-eks/hashicups/payments.yaml
  hcp-vault-eks/hashicups/postgres.yaml
  hcp-vault-eks/hashicups/product-api.yaml
  hcp-vault-eks/hashicups/public-api.yaml
  hcp-vault-eks/main.tf
  hcp-vault-eks/modules/aws/main.tf
  hcp-vault-eks/modules/aws/outputs.tf
  hcp-vault-eks/modules/aws/variables.tf
  hcp-vault-eks/modules/cleanup/cleanup.sh
  hcp-vault-eks/modules/cleanup/main.tf
  hcp-vault-eks/modules/cleanup/variables.tf
  hcp-vault-eks/modules/hcp_applications/main.tf
  hcp-vault-eks/modules/hcp_applications/outputs.tf
  hcp-vault-eks/modules/hcp_applications/variables.tf
  hcp-vault-eks/modules/hcp_networking/main.tf
  hcp-vault-eks/modules/hcp_networking/variables.tf
  hcp-vault-eks/modules/hcp_networking_primitives/main.tf
  hcp-vault-eks/modules/hcp_networking_primitives/outputs.tf
  hcp-vault-eks/modules/hcp_networking_primitives/variables.tf
  hcp-vault-eks/modules/iam/main.tf
  hcp-vault-eks/modules/iam/outputs.tf
  hcp-vault-eks/modules/iam/policies/policy.json.tftpl
  hcp-vault-eks/modules/iam/variables.tf
  hcp-vault-eks/outputs.tf
  hcp-vault-eks/provider.tf
  hcp-vault-eks/variables.tf
Labels: kubernetes, consul, vault

#57 Consul-admin-partitions on EKS: Add a 'consul' namespace
  consul-enterprise-admin-partitions-eks/consul_enterprise/main.tf
Labels: kubernetes, consul, admin-partitions

#61 service-mesh: update helm chart versions
  service-mesh/deploy/config.yaml
Labels: consul
